* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #beb8b6;
}

.table {
  margin: 0 auto;
  font-weight: bold;
  width: 64%;
}

.row {
  padding-left: 17px;
}
